#about {
  .intro {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    p:first-child {
      margin-top: 0;
    }

    @media (min-width: 736px) and (max-width: 1067px) {
      width: 100%;
    }
  }
}
