#contact {
  background: $contactBackground;

  .section-content {
    padding: 20px 0;

    .row-flex {
      justify-content: flex-start;
      flex-wrap: wrap;
      .col {

        &.large-33 {
          width: 33%;
        }

        @media (max-width: 735px) {
          &:nth-child(2) { order: 2; margin-bottom: 10px;}
          &:nth-child(3) { order: 1; }
          &.small-100 {
            width: 100%;
            margin-top: 13px;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
