#facilities {

  .section-content {
    padding: 20px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
      display: inline-block;
      line-height: 2em;
      min-width: 80px;
      padding: 0 20px;
    }
  }
}
