#facilities {

  .section-content {
    padding: 20px 0;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
      display: inline-block;
      line-height: 2em;
      text-align: center;

      @media (min-width: 736px) and (max-width: 1067px) {
        min-width: 33%;
      }
      @media (max-width: 735px) {
        min-width: 50%;
      }
      @media (max-width: 450px) {
        min-width: 100%;
      }
    }
  }
}
