#facilities {

  .section-content {
    padding: 20px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
      display: inline-block;
      line-height: 2em;
      padding: 0 20px;
      text-align: center;

      min-width: 12%;
      @media (min-width: 736px) and (max-width: 1067px) {
        min-width: 23%;
      }
      @media (max-width: 735px) {
        min-width: 30%;
      }
    }
  }
}
