$numberOfImages: 29;
$width: 700px;
$thumbnail_size: 40px;

#gallery {
  .gallery {
    width: $width;
    margin: 0 auto;
    position: relative;
    @media (min-width: 736px) and (max-width: 1067px) {
      width: 100%;
      max-width: 680px;
    }
    @media (max-width: 735px) {
      width: 100%;
      max-width: 680px;
    }

    &-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        max-height: 450px;
      }
    }

    &-thumbnails {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: end;

      figure {
        height: $thumbnail_size;
        width: $thumbnail_size;
        margin-top: 3px;
        margin-right: 3px;
        background-size: cover;
        cursor: pointer;
        &:first-child, &:nth-child(16) {
          margin-left: 0px;
        }

        @for $i from 1 through $numberOfImages {
          &:nth-child(#{$i}) {
            background-image: url('../../assets/gallery/thumbnail/#{$i}.jpg');
          }
        }

      }
    }

    &-buttons {
      width: 100%;
      position: absolute;

      i {
        $i: 20px;
        background: $galleryArrowStart;
        padding: $i;
        border-radius: #{$i*2};
        transition: background 0.3s;
        cursor: pointer;

        &:nth-child(1) {
          float: left;
          margin-left: 20px;
        }
        &:nth-child(2) {
          float: right;
          margin-right: 20px;
        }

        &:hover {
          background: $galleryArrowHover;
        }
      }
    }
  }
}
