$copy: black;
$background: white;
$contactBackground: #dcdcdc;
$galleryArrowStart: #ffffff85;
$galleryArrowHover: #839ae2;
$pageNavUnderline : #f0f0f0;
$bookingBoarder: #a33d60;
$heroTextBackground: rgba(0, 0, 0, 0.1);
$spinnerBackground: rgba(0, 0, 0, 0.5);
