body {
  font-family: "Georgia", "Times", "g", serif;
  font-size: 18px;

  @media (min-width: 736px) and (max-width: 1067px) {
    font-size: 17px;
  }

  @media (max-width: 735px) {
    font-size: 16px;
  }
}

.typography- {
  &hero {
    h1 { font-size: 42px;}
    h2 { font-size: 32px;}

    @media (min-width: 736px) and (max-width: 1067px) {
      h1 { font-size: 40px;}
      h2 { font-size: 30px;}
    }

    @media (max-width: 735px) {
      h1 { font-size: 35px;}
      h2 { font-size: 25px;}
    }
  }
  &intro {
    font-size: 28px;

    @media (min-width: 736px) and (max-width: 1067px) {
      font-size: 26px;
    }
    @media (max-width: 735px) {
      font-size: 24px;
    }

    &-point {
      font-size: 18px;

      @media (min-width: 736px) and (max-width: 1067px) {
        font-size: 20px;
      }
      @media (max-width: 735px) {
        font-size: 18px;
      }
    }
  }
  &test {

    @media (min-width: 736px) and (max-width: 1067px) {

    }

    @media (max-width: 735px) {

    }
  }
  &falmouth {
    font-size: 23px;

    @media (min-width: 736px) and (max-width: 1067px) {
      font-size: 22px;
    }
    @media (max-width: 735px) {
      font-size: 21px;
    }
  }
}
